<h1>Lista de Objetivos Específicos</h1>


    <% @objetivo_general.objetivo_especificos.each do |objetivo_especifico| %>
            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !objetivo_especifico.titulo.blank? %>
		      <h3 class="panel-title">Objetivo Específico: <%= link_to objetivo_especifico.titulo, objetivo_especifico %>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre al Objetivo Especifico
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Objetivo</label>
                <p> 
		<% if !objetivo_especifico.descripcion.blank? %>
			<%= objetivo_especifico.descripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                   <div class="btn-group btn-group-justified">
 
                </div>
                
              </div>
            </div>


    <% end %>


<br>

<%= link_to 'Nuevo Objetivo especifico', new_objetivo_especifico_path(:objetivo_general_id => params[:objetivo_general_id]) %>
