<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
              <h1>Editando Proyecto</h1>
        </div>
        <div class="modal-body">


  <%= render 'form' %>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
