<h1>Metodos de Notificación <small>Administración de los tipos de notificación del proyecto</small></h1>
<ol class="breadcrumb">
  <li><i class="icon-dashboard"></i> Configuraciones</li>
  <li class="active"><i class="icon-file-alt"></i> Notificaciones predeterminadas</li>
</ol>
<br></br>
<div class="row">
  <div class="col-lg-12">
    <% if !@proyecto.notificacion_predeterminadas.nil? then %>       
      <% @proyecto.notificacion_predeterminadas.each do |np| #recorro las notificaciones del proyecto (usadas) %>
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> 
                <%= np.tipo_notificacion.nombre %>              
              </h3>
            </div>
            <div class="panel-body">
              <div class="row" align="center">
                <%= link_to 'Desactivar', 
                  notificacion_predeterminada_path(np), # boton verde para eliminar la notificacion predeterminada
                  class: "btn btn-success btn-lg", 
                  data: { method: :delete } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if !@notificaciones_no_usadas.nil? then %>
      <% @notificaciones_no_usadas.each do |_tipo_notificacion| #recorro las notificaciones no usadas por el proyecto %>
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> 
                <%= _tipo_notificacion.nombre %>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row" align="center">
                <%= link_to 'Activar', 
                  notificacion_predeterminadas_path(proyecto_id: @proyecto.id, tipo_notificacion_id: _tipo_notificacion.id), 
                  class: "btn btn-default btn-lg",          # boton gris para crear la notificacion predeterminada
                  data: { method: :post } %>                
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
        

    <!-- JavaScript -->
    <script src="../../js/jquery-1.10.2.js"></script>
    <script src="../../js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    
    <!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    -->
     
   <script src="../../js/raphael-min.js"></script>
    
    <!--
   <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    -->
    <script src="../../js/morris-0.4.3.min.js"></script>
    <script src="../../js/morris/chart-data-morris.js"></script>
    <script src="../../js/tablesorter/jquery.tablesorter.js"></script>
    <script src="../../js/tablesorter/tables.js"></script>



