<h1>Listing historial_estado_actividades</h1>

<table class="table table-hover table-striped tablesorter">
  <thead>
    <tr>
      <th>Estado actividad</th>
      <th>Fecha Cambio Estado</th>
      <th>Esactual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actividad.historial_estado_actividades.each_with_index do |historial_estado_actividad, index| %>
      <tr>
        <td><%= historial_estado_actividad.estado_actividad %></td>
        <td><%#= %></td>
        <td><%= historial_estado_actividad.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

