
<p><%= @notificacion.usuario_destino.apellido_nombre %></p>

<p>Tienes un mensaje de: <%= @notificacion.usuario_creador.apellido_nombre %></p>

<p>El mensaje es el siguiente: <%= @notificacion.mensaje %></p>

<p>- PORFAVOR, NO RESPONDER A ESTE MENSAJE -</p>
