<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>


<h1>Nuevo Reporte</h1>



<%= render 'form' %>

<%= link_to 'Atrás', reportes_path(:actividad_id => @actividad.id) %>
