<!---->      

  <div class="row">
          <div class="col-lg-9">
            <h2>Reporte</h2>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gráfico</h3>
              </div>
              <div class="panel-body">
                <div class="flot-chart">
                  <div class="flot-chart-content" id="flot-chart-line"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive  col-lg-3">
          <br></br>
            <h3>Items</h3>
              <table class="table table-hover table-striped tablesorter">
                <tbody>
                  <tr>
                    <td> </td>
                    <td> </td>
                  </tr>
                  
                </tbody>
              </table>
              
          </div>
        </div>
      
     
       <div class="col-lg-12">
            
              
              <div class="table-responsive  col-lg-12">
            <h3>Datos</h3>
              <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-3">Proyecto</th>
                    <th class="col-lg-1">Cantidad</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                     <td>  </td>
                     <td>  </td>
                   
                    </td>
                  </tr>
                   <tr>
                     <td>  </td>
                     <td>  </td>

                    
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              
                </div>
      <a href="reportes" class="btn btn-primary btn-lg active" role="button">Imprimir</a>
       
