<!----->
<div class="col-lg-6">
	<h2>Reporte de Proyectos</h2>
</div>
<div class="col-lg-6">
	<a href="reporte_generado" class="btn btn-primary btn-lg active" role="button">Generar Reporte</a>
</div>
<div class="col-lg-12">
	<div class="table-responsive  col-lg-3">
		<h3>Proyectos Disponibles</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-6">Nombre</th>
					 <th class="col-lg-6">Fecha Inicio </th>
         </tr>
      </thead>
			<tbody>
			<% Proyecto.all.each do |proyecto| %>
				<tr>
					<td><%= proyecto.nombre %></td>
					<td><%= proyecto.fechaInicio %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="table-responsive  col-lg-3">
		<h3>Proyectos a Reportar</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-6">Nombre</th>
					 <th class="col-lg-6">Fecha Inicio </th>
         </tr>
      </thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></i> <i class="fa fa-trash-o"></i></td>
				</tr>	
			</tbody>
		</table>
	</div>
	<div class="table-responsive  col-lg-3">
		<h3>Items</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-12">Nombre Item</th>
         </tr>
      </thead>
			<tbody>
				<tbody>
          <tr>
            <td>Cantidad de proyectos en estado creado</td>
          </tr>
          <tr>
						<td>Cantidad de proyectos en estado cancelado</td>
          </tr>
          <tr>
          	<td>Cantidad de proyectos en estado en ejecución</td>
          </tr>
          <tr>
            <td>Cantidad de proyectos en estado terminado</td>
          </tr>
          <tr>
            <td>Cantidad de proyectos en estado suspendido</td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado creada</td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado planificada</td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado terminada</td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado suspendida</td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado cancelada</td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado en ejecución</td>
          </tr>
          <tr>
            <td>Cantidad de voluntarios por proyecto en estado suspendido</td>
          </tr>
          <tr>
            <td>Cantidad de voluntarios por proyecto en estado activo</td>
          </tr>
          <tr>
            <td>Cantidad de voluntarios por proyecto estado suspendido</td>
          </tr>
          <tr>
            <td>Cantidad de presupuesto de cada proyecto</td>
          </tr>
          <tr>
            <td>Cantidad de horas efectivas realizadas de voluntariado por proyecto</td>
          </tr>
          <tr>
            <td>Cantidad de horas efectivas realizadas según tipo de actividad</td>
          </tr>
          <tr>
            <td>Cantidad de horas efectivas realizadas por proyecto según tipo de actividad</td>
          </tr>
			</tbody>
 		</table>
	</div>
	<div class="table-responsive  col-lg-3">
		<h3>Items a Reportar</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-12">Nombre Item</th>
         </tr>
      </thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></i> <i class="fa fa-trash-o"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
