<h1>Gestionar Informe de gastos <small>Administración de los gastos del proyecto</small></h1>
<ol class="breadcrumb">
  <li><i class="icon-dashboard"></i> Gestionar Informe de gastos</li>
  <li><i class="icon-file-alt"></i> Informe de gastos</li>
  <li class="active"><i class="icon-file-alt"></i> Agregar gasto</li>
</ol>
<!--<h1>Editing detalle_gasto</h1>

<%= render 'form' %>

<%#= link_to 'Show', @detalle_gasto %> |
<%= link_to 'Back', :back %>
