  <ul class="nav navbar-nav side-nav">
    <li>
      <%= link_to 'Generar Evento Público', new_evento_publico_path %>
    </li>
    <li>
      <%= link_to 'Visualizar Eventos Públicos', evento_publicos_path %>
    </li>
  </ul>    

