        <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Control de Usuario', control_usuario_path %>
            </li>
            <li>
              <%= link_to 'Control de Proyecto', control_proyecto_path %>
            </li>
						<li>
              <%= link_to 'Control por Fecha', control_fecha_path %>
            </li>
         </ul>	

