        <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Reporte de Voluntarios', reporte_voluntarios_path %>
            </li>
            <li>
              <%= link_to 'Reporte de Proyectos', reporte_proyectos_path %>
            </li>
						<li>
              <%= link_to 'Reporte de Regionales', reporte_regionales_path %>
            </li>
				</ul>	
