          <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Gestionar Conceptos de Gastos', gestionar_concepto_gastos_path %>
            </li>
            <li class="active">
              <%= link_to 'Gestionar Habilidades', gestionar_habilidades_path %>
            </li>
            <li>
              <%= link_to 'Gestionar Restricciones', gestionar_restricciones_path %>
    </li>
    <li>
              <%= link_to 'Gestionar Estados Presupuestos', gestionar_estados_presupuestos_path %>
    </li>

          </ul>    

