          <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Crear Proyectos', new_proyecto_path %>
            </li>
            <li>
              <%= link_to 'Visualizar Proyectos', proyectos_path %>
            </li>
            <li>
              <%= link_to 'Mis Proyectos', proyectos_mis_proyectos_path %>
            </li>
	    <li>
	    <% if defined?(@proyecto) %>
		    <%= link_to 'Asignar Recursos', asignacion_roles_path(:proyecto_id => @proyecto.id) %>
	    <% end %>

            </li>
          </ul>    

