          <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Crear Organizacion', new_organizacion_externa_path %>
            </li>
            <li>
              <%= link_to 'Visualizar Organizaciones', organizacion_externas_path %>
            </li>
          </ul>    

