<div class="error">


		<%= content_tag :div, @message, class: "message", :style => "position:absolute; width: 500px; height:100px; left:45%; top:20%; margin-left: -50px; margin-top: -50px; font-size: xx-large" %>
	

</div>

