<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_notificacion.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_notificacion_path(@tipo_notificacion) %> |
<%= link_to 'Back', tipo_notificacions_path %>
