<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_actividad.nombre %>
</p>

<%= link_to 'Editar', edit_estado_actividad_path(@estado_actividad) %> |
<%= link_to 'Atrás', estado_actividades_path %>
