<h1>Listing postulaciones</h1>



<table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-1">#</th>
                    <th class="col-lg-4" >Apellido y Nombre </th>
                    <th class="col-lg-2" ></th>
                    <th class="col-lg-2" ></th>
                     <th class="col-lg-1" ></th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <% @postulaciones.each do |postulacion| %>
                  <tr>
                    <td></td>
                    <td> <%= postulacion.usuario %></td>
                    <td><i class="fa fa-user"></i><%= link_to 'Perfil', usuario_path(postulacion.usuario) %></td>
                    <td> <%= postulacion.aceptado %></td>
		    <td><%= link_to "Aceptar",  aceptar_postulacion_path(postulacion.id), :method => :post %>
		    <!-- class="btn btn-primary btn-sm" -->
                  </tr>
                  
   
                  
                  <% end %>
                </tbody>
              </table>

