<h1>Listing notificacion_sistemas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notificacion_sistemas.each do |notificacion_sistema| %>
      <tr>
        <td><%= link_to 'Show', notificacion_sistema %></td>
        <td><%= link_to 'Edit', edit_notificacion_sistema_path(notificacion_sistema) %></td>
        <td><%= link_to 'Destroy', notificacion_sistema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Notificacion sistema', new_notificacion_sistema_path %>
