<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @comprobante.numero %>
</p>

<%= link_to 'Edit', edit_comprobante_path(@comprobante) %> |
<%= link_to 'Back', comprobantes_path %>
