<h1>Nuevo organizacion_externa</h1>

<%= render 'form' %>


<%= link_to 'Crear Organizacion Externa', crear_organizacion_externa_path, remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Atrás', organizacion_externas_path %>
