<div class="col-lg-12">
  <h1>Gestionar Habilidades<small>Administración de las habilidades necesarias</small></h1>
  <ol class="breadcrumb">
    <li><i class="icon-dashboard"></i> Configuraciones </li>
    <li><i class="icon-file-alt"></i> Gestionar Habilidades </li>
    <li class="active"><i class="icon-file-alt"></i> Agregar Habilidad </li>
  </ol>
</div> 



<%= render 'form' %>

<%#= link_to 'Atras', gestionar_habilidades_path %>
