<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_usuario.nombre %>
</p>

<%= link_to 'Editar', edit_estado_usuario_path(@estado_usuario) %> |
<%= link_to 'Atrás', estado_usuarios_path %>
