<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_transaccion.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_transaccion_path(@tipo_transaccion) %> |
<%= link_to 'Back', tipo_transaccions_path %>
