<!----->
<h2>Control por Fecha</h2>
<div class="col-lg-12">
	<div class="col-lg-3">
    <h3><small>Fecha Desde</small></h3>
    <input type="text/css"  placeholder="dd-mm-aaaa" id="fecha_inicio">
    <h3><small>Fecha Hasta</small></h3>
    <input type="text/css" class="span1" placeholder="dd-mm-aaaa" id="fecha_fin">
    <br></br>
    <button type="button" class="btn btn-primary btn-lg">Buscar</button>
  </div>
  <div class="table-responsive  col-lg-9">
  	<h3>Transacciones</h3>
    <table class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th class="col-lg-3">Fecha</th>	
          <th class="col-lg-2">Usuario</th>
          <th class="col-lg-7">Descripción </th>
        </tr>
     </thead>
     <tbody>
			 <% Transaccion.all.each do |transaccion| %>
       <!--  if created_at between fecha_inicio and fecha_fin %> -->
       <tr>
       	 <td><%= transaccion.fechaTransaccion %></td>
				 <td><!-- Usuario.find(Sesion.find(transaccion.sesion_id).usuario_id).nombreUsuario --></td>    
         <td><%= transaccion.descripcion %></td>
       </tr>
			 <% end %>
     </tbody>
   </table>        
  </div>
</div>













