<h1>La cuenta de usuario se encuentra deshabilitada. Póngase en contacto con el Administrador.</h1>
<br /> 
	<%= link_to "Volver", usuario_session_path, :method => current_usuario.lock_access! %></p>

