<div class="col-lg-12">
  <h1> Agregar Estado de Presupuesto <small> Administracion de los posibles estados </small></h1>
  <ol class="breadcrumb">
    <li><i class="icon-dashboard"></i> Gestionar Estados de Presupuesto </li>
    <li><i class="icon-file-alt"></i> Estados </li>
    <li class="active"><i class="icon-file-alt"></i> Agregar Estado </li>
  </ol>
</div>
<%= render 'form' %>

<%= link_to 'Atrás', gestionar_estados_presupuestos_path %><!--<h1>Editing estado_presupuesto</h1>

<%#= render 'form' %>

<%#= link_to 'Ver', @estado_presupuesto %> |
<%#= link_to 'Atrás', :back %>
