<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_presupuesto.nombre %>
</p>

<%= link_to 'Editar', edit_estado_presupuesto_path(@estado_presupuesto) %> |
<%= link_to 'Atrás', estado_presupuestos_path %>
