<h1>Listado Historial Estado Proyecto</h1>

<table class="table table-hover table-striped tablesorter">
  <thead>
    <tr>
      <th>Estado Proyecto</th>
      <th>Fecha Cambio Estado</th>
      <th>Es Actual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyecto.historial_estado_proyectos.each_with_index do |historial_estado_proyecto, index| %>
      <tr>
	      <td><%= historial_estado_proyecto.estado_proyecto %></td>
	      <td><%= historial_estado_proyecto.updated_at %></td>
	      <td><%=  %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historial estado proyecto', new_historial_estado_proyecto_path %>
