<p>Hola <%= @resource.apellido_nombre %>!</p>

<p>Alguien ha requerido un cambio de contraseña. Puedes concretar la operación realizando click en el siguiente link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no lo has solicitado, ignorar el mail.</p>
<p>La contraseña no va a ser cambiada si no ingresas al link y creas una nueva contraseña.</p>

<p>NO RESPONDER ESTE MAIL</p>
