<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estado_proyecto.nombre %>
</p>

<%= link_to 'Edit', edit_estado_proyecto_path(@estado_proyecto) %> |
<%= link_to 'Back', estado_proyectos_path %>
