<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_transaccion.descripcion %>
</p>

<%= link_to 'Editar', edit_tipo_transaccion_path(@tipo_transaccion) %> |
<%= link_to 'Atrás', tipo_transacciones_path %>
